.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  font-weight: 600;
}

.main[data-variant="left"] {
  align-items: normal;
  text-align: left;
}
