.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
}

.main[data-variant="left"] {
  align-items: baseline;
  text-align: left;
}

.main h2 {
  font-size: 24px;
  font-weight: 600;
  max-width: 23ch;
}
