.card {
  padding: 1rem;
  margin-bottom: 1em;
  background: var(--color-card-bg);
  border-radius: 12px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconContainer {
  margin-right: 0.5em;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h3 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.icon {
  margin-top: 0.25em;
  padding: 0.2em;
  border-radius: 6px;
  background: rgba(72, 118, 206, 0.15);
}

.card p {
  margin: 0;
  color: rgb(var(--color-gray-500));
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 30ch;
}

.infoCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid rgba(16, 17, 21, 0.1);
  border-radius: 24px;
  padding: 16px 32px;

  margin-bottom: 2em;
}

.infoCard .description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;

  letter-spacing: -0.025em;

  color: rgba(16, 17, 21, 0.4);
}

.infoCard h3 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.infoTitle {
  display: flex;
  justify-content: space-between;
}
