.icon {
  padding: 0.5rem;
  background: var(--color-card-bg);
  border-radius: 12px;
  max-width: 36px;
  margin: 1em 0;
}

.input {
  font-size: 32px;
  margin: 1em 0;
  background-color: transparent;
}

.input:focus {
  outline: none !important;
  border: transparent;
}

.title {
  font-size: 24px;
  font-weight: 600;
  max-width: 23ch;
}

.subtitle {
  margin: 0;
  color: rgb(var(--color-gray-500));
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 23ch;
}

.buttonRow {
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  margin: 0 1em;
}

.bg {
  position: absolute;
  width: 220px;
  height: 100px;
  left: -12%;
  top: 70%;
  background-color: #7ba3ef;
  filter: blur(79px);
}

.bg2 {
  position: absolute;
  width: 120px;
  height: 100px;
  right: 0%;
  top: 80%;
  background-color: #7ba3ef;
  filter: blur(79px);
}
