.icon {
  padding: 0.5rem;
  background: var(--color-card-bg);
  border-radius: 12px;
  max-width: 36px;
  margin: 1em 0;
}

.input {
  font-size: 32px;
  margin: 1em 0;
  background-color: transparent;
}

.input:focus {
  outline: none !important;
  border: transparent;
}

.subtitle {
  margin: 0;
  color: rgb(var(--color-gray-500));
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 23ch;
}

.buttonRow {
  padding: 2rem;
}
