.badgeContainer {
  outline: 1px solid rgb(var(--color-gray-200));
  padding: 0.25em 0.5em;
  border-radius: 10px;
}

.amount {
  font-size: 42px;
  margin: 1em 0;
  width: 33%;
  background-color: transparent;
  text-align: center;
}

.address {
  font-size: 12px;
  margin: 1em 0;
  width: 100%;
  outline: 1px solid rgb(var(--color-gray-200));
  border-radius: 10px;
  padding: 1em;

  background-color: transparent;
}
